.App{

  text-align: center;
  margin: auto;
  margin-top: 50px;
  max-width: 700px;
  width: 700px;
  border: 1px solid blue;
  margin-bottom: 30px;
  background-color:grey;
  }
  .forms{
  
  text-align: center;
  
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 700px;
  width: 700px;
  border: 1px solid tomato;
  margin-bottom: 30px;
  background-color:#d2d9d4;
  }
  .subbtn{
      margin-bottom: 10px;
      background-color: #94ed74;
      color:white;
      padding:10px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 10px;
      cursor: pointer;
  }
  
  .psd{
      margin-bottom: 10px;
  }
  .title{
      color:#1d2211;
      font-style: italic;
  
  }
  .text{
    padding: 7px;
  }
  #selectbtn{
    padding: 7px;
  }